* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

a {
  text-decoration: none;
  color: unset;
}


.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: fixed;
  z-index: 100;
  top: 0;
  opacity: 1;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: "Sen", sans-serif;
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 30px;
  color: #4dbf00;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
  text-decoration: none;
  color: #4dbf00;
  font-weight: 400;
  transition: .5s; 
}

.menu-list-item.active {
  font-weight: bold;
}
.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.left-menu-icon {
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
}

.featured-content{
  height: 50vh;
  padding: 50px;
  background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("img/f-1.webp");
  background-size: cover;
  background-position: center center;
}


.featured-title {
  width: 200px;
}

.featured-desc {
  max-width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  cursor: pointer;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.movie-list-container {
  padding: 0 20px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 300px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-item {
  margin-right: 30px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  background-color: #333;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;

  color: black;
}

.sidebar.active{
    background-color: white;
}

.left-menu-icon.active{
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}

footer.active {
  background-color: white;
  color: black;
}

.copyright.active {
  background-color: white;
  color: black;
}



footer{
  background-color: #151515;
}

.section{
  max-width: 100%;
  margin: auto;
  padding: 0 50px;
  color: white;
  font-size: 15px;
}

.content {
  margin-top: 20px;
  margin-left: 10%;
}

.content p b {
  font-size: 20px;
  margin-left: 40px;
}

.footer-0{
  width: 100%;
  display: flex;
}
.footer-1{
  padding: 0 20px;
  width: 40%;
}

.footer-text{
  max-width: 500px;
  margin: 30px 0;
}

.social-list  a i {
  display: flex;
  align-items: center;
  margin-top: 10px;
  display: inline-block;
  margin-left: 15px;
  font-size: 30px;
}

.footer-2 {
  float: right;
  width: 60%;
}

.footer-menu {
  list-style-type: none;
}

.footer-menu a {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.footer-menu a:hover {
  transform: translateX(5px);
}

.footer-menu li {
  margin: 10px 0px;
}

.copyright {
  padding: 10px;
  border-top: 1px solid #4dbf00;
  background-color: #151515;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 800px){
    .menu-container{
        display: none;
    }
    .arrow{
      top: 100px;
      font-size: 80px;
    }
    .copyright {
      font-size: 17px;
    }
}

@media (max-width: 700px) {
  .movie-list-item-img{
    width: 170px;
    height: 100px;
  }
  .movie-list {
    height: 120px;
  }
  .arrow{
    top: 40px;
    font-size: 40px;
  }
  .movie-list-item {
    margin-right: 10px;
  }
  .copyright {
    font-size: 13px;
  }
}

@media (max-width: 450px) {
  .navbar {
    opacity: 0;
  }
  .footer-menu   a img{
    max-width: 70%;
  }
  .section{
    font-size: 10px;
  }
  .content p b {
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  .social-list  a i {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 15px;
  }
  
  .featured-content{
    height: 20vh;
    padding: 20px;
  }
  .featured-desc {
    margin: 5px 0;
    font-size: 8px;
  }
  .featured-title {
    width: 50px;
  }
  .movie-list-item:hover .movie-list-item-desc{
    opacity: 0;
  }
  .movie-list-item-img{
    width: 170px;
    height: 100px;
  }
  .movie-list {
    height: 120px;
  }
  .arrow{
    top: 40px;
    font-size: 40px;
  }
  .movie-list-item {
    margin-right: 10px;
  }
  .movie-list-item-title {
    font-size: 15px;
  }
  .movie-list-item-button {
    padding: 5px;
    border-radius: 5px;
    font-size: 10px;
  }
  .copyright {
    font-size: 6px;
  }
}